* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 48rem;
    margin: auto;
    font-family: Verdana;
    border: 0.15rem solid;
    border-color: #eeeeee;
    border-radius: 0.2rem;
}

header {
    font-family: Kaushan Script;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 2.3rem;
}

nav {
    text-align: center;
    background-color: #eeeeee;
    padding: 0.5rem;
}

a {
    text-decoration: none;
    color: #33b5e5;
}

section {
    text-align: center;
}

article {
    text-align: justify;
    margin: 1.7rem;
}

img {
    max-height: 9rem;
    padding: 0.5rem;
    opacity: 0.5;
    border-radius: 0.3rem;
    border: 0.1rem solid;
    border-color: #dddddd;
    transition: opacity 1s;

}

img:hover {
    opacity: 1.0;
}

footer {
    text-align: center;
    color: #33b5e5;
    padding: 1rem;
    background-color: #eeeeee;
}
